body {
    font-family: system-ui;
}

h1 {
    text-align: center;
}

#navigation {
    display: flex;
    justify-content: space-between;
}

#url {
    width: 93%;
    padding: 10px;
    margin-bottom: 1px;
}

#content {
    width: 100%;
    height: 1000px;
    border: 1px solid #ccc;
}

button {
  background-color: white
}
